# Игнорирай всичко
*

# Допускай само тези файлове
!.gitignore
!.shopifyignore
!.theme-check.yml
!shopify-theme-procedure.txt
!snippets/
!snippets/dsk-product-button.liquid
!assets/
!assets/dsk-logo-color.svg
!assets/dsk-product-button.css
!assets/dsk-product-button.js
!snippets/dsk-cart-button.liquid
!assets/dsk-cart-button.css
!assets/dsk-cart-button.js
