# Игнорирай всичко
*

# Допускай само тези файлове
!.gitignore
!shopify-theme-procedure.txt
!snippets/
!snippets/dsk-product-button.liquid
!assets/
!assets/dsk-logo-color.svg
!assets/dsk-product-button.css
!assets/dsk-product-button.js
!app/
!app/.htaccess
!app/index.php
!app/geoip.php
!app/security.php
